.auth-card{

max-width:760px;
min-height:520px;
margin:auto;
background:var(--card);
border:none;
border-radius:30px;
padding:0;
overflow:hidden;
/* box-shadow:0 25px 70px rgba(78, 72, 180, 0.18),0 10px 25px rgba(43, 4, 66, 0.08); */
transition:.35s;
/* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
box-shadow: rgba(153, 46, 240, 0.4) -5px 5px, rgba(114, 46, 240, 0.3) -10px 10px, rgba(179, 46, 240, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}


.auth-card:hover{

transform:
translateY(-8px);

box-shadow:

0 35px 90px
rgba(
108,
99,
255,
0.25);

}


.auth-left{

padding:60px;

background:

linear-gradient(
135deg,
#6C63FF,
#8B7BFF
);

color:white;

}



.auth-right{

padding:50px;

}



.form-label{

color:var(--muted);

font-size:.95rem;

}



.form-control{

height:56px;

background:

transparent;

color:

var(--text);

border:

1px solid
var(--border);

}


.auth-svg{

width:230px;

max-width:100%;

display:block;

margin:auto;

filter:

drop-shadow(
0 15px 40px
rgba(
255,
255,
255,
0.25
)

);

animation:

float 4s ease infinite;

}

@keyframes float{

0%{
transform:
translateY(0);
}

50%{
transform:
translateY(-10px);
}

100%{
transform:
translateY(0);
}

}


.form-control:focus{

background:

transparent;

color:

var(--text);

border-color:

var(--primary);

box-shadow:none;

}



.input-group-text{

background:

transparent;

border:

1px solid
var(--border);

color:

var(--muted);

}



.pass-toggle{

border:

1px solid
var(--border);

background:

transparent;

color:

var(--muted);

}



.btn-custom{

height:54px;

background:

linear-gradient(
135deg,
#6C63FF,
#8B7BFF
);

color:white;

border:none;

border-radius:14px;

font-weight:600;

}



.btn-custom:hover{

transform:
translateY(-2px);

}



@media(max-width:992px){

.auth-left{

display:none;

}

.auth-right{

padding:35px;

}

}