:root{

--primary:#6C63FF;
--secondary:#8B7BFF;

--bg:#F5F7FC;

--card:#FFFFFF;

--text:#111827;

--muted:#64748B;

--border:#E5E7EB;

--nav:rgba(255,255,255,.75);

}



body.dark{

--bg:#111827;

--card:#1F2937;

--text:#F8FAFC;

--muted:#CBD5E1;

--border:#334155;

--nav:rgba(17,24,39,.88);

}



*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

font-family:'Poppins',sans-serif;

background:var(--bg);

color:var(--text);

transition:.3s;

}



.bg-custom{

background:var(--nav);

backdrop-filter:blur(18px);

border-bottom:

1px solid var(--border);

}



.navbar{

padding:18px 0;

}



.nav-link{

color:var(--text)!important;

font-weight:500;

margin-left:10px;

}



.nav-link:hover{

color:var(--primary)!important;

}



.color-primary{

color:var(--primary);

}



.theme-btn{

width:44px;

height:44px;

border:none;

border-radius:50%;

background:

rgba(108,99,255,.15);

color:var(--primary);

}



body.dark .theme-btn{

background:

rgba(255,255,255,.08);

color:#FFD43B;

}



.auth-svg{

width:220px;

max-width:100%;

display:block;

margin:auto;

}



footer{

color:var(--muted);

}

.footer-clean{

margin-top:70px;

padding:35px;

background:

var(--card);

border-top:

1px solid
var(--border);

box-shadow:

0 -10px 40px
rgba(
0,
0,
0,
0.05
);

}

.footer-clean p{

color:
var(--muted);

margin:0;

}

.footer-clean i{

font-size:22px;

cursor:pointer;

color:
var(--muted);

transition:.3s;

}

.footer-clean i:hover{

color:
var(--primary);

}